*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(227, 252, 7);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #161616;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn{
    width: 100px;
    height: 45px;
    color: black;
    background-color: rgb(227, 252, 7);
    font-size: 18px;
    font-weight: bold;
}

.top-bar h3{
    text-decoration: underline;
}

header h1{
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
}

.line{
    height: 10px;
    background-color: rgb(227, 252, 7);
    margin-top: 80px;
}
.number{
    width: 80px;
    height: 80px;
    background-color: rgb(227, 252, 7);
    margin: 0 auto;
    position: relative;
    top:-35px;
    color: black;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

form{
    margin-top: 80px;
    text-align: center;
}

form input{
    width: 100px;
    height: 60px;
    margin-right: 90px;
    color: black;
    font-size: 25px;
    text-align: center;
}

form label{
    margin-left: 90px;
    font-size: 25px;
    letter-spacing: 2px;
}

form div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

form span{
    font-size: 25px;
    letter-spacing: 2px;
    text-align: left;
}

.check{
    margin-right: 230px; 
}

.btn-box{
    display: flex;
    justify-content: space-around;
}

.open-modal{
    padding: 7px;
    color: black;
    background-color: rgb(26, 194, 236);
    border: 0;
    border-radius: 4px;
}

.modal{
    display: flex;
    width: 400px;
    padding: 40px;
    text-align: justify;
    background-color: cadetblue;
    margin: 0 auto;
    border-radius: 7px;
    margin-top: 20px;
    position: relative;
}

.close-modal{
    order: 2;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}

.hidden{
    display: none;
}